{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
{{ post.title|censor }}
{% endblock title %}

{% block content %}
    <h1>{{ post.title|censor }}</h1>
    <h5>Published on: {{ post.created_at }}</h5>
    <p><b>Categories: </b>
        {% for category in post.category.all %}
            <a href="{% url 'category_news' category.id %}">{{ category.name }}</a>
        {% endfor %}
    </p>
    <hr>
    <p>{{ post.text|censor|linebreaksbr }}</p>
    <p><b>
        {% if perms.news.change_post %}
            <a href="{% url 'news_update' pk=post.id %}">Edit</a>
        {% endif %}

        {% if perms.news.delete_post %}
            <a href="{% url 'news_delete' post.id %}">Delete</a>
        {% endif %}
    </b></p>
{% endblock content %}
