{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load cache %}

{% block title %}
    <p>NEWS</p>
    <p><a href="{% url 'news_search' %}">Search</a></p>
{% endblock title %}

{% block content %}
    <h1>Actual news</h1>
    {% cache 300 total_news %}
        <h4>Total news: {{ page_obj.paginator.count }}</h4>
    {% endcache %}
    <hr>

    <h2>
        {% if perms.news.add_post %}
            <u><a href="{% url 'news_create' %}">Add news</a></u>
            <u><a href="{% url 'article_create' %}">Add article</a></u>
        {% endif %}
    </h2>
    <hr>

    {% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <h3><a href="{% url 'news_detail' post.pk %}">{{ post.title|censor }}</a></h3>
                <p><b>Published: </b> {{ post.created_at|date:'d.m.Y' }}</p>
                <p><b>Categories: </b>
                    {% for category in post.category.all %}
                        <a href="{% url 'category_news' category.id %}">{{ category.name }}</a>
                    {% endfor %}
                </p>
                <p>{{ post.text|censor|truncatewords:30 }}</p>
                <p><b>
                    {% if perms.news.change_post %}
                        <a href="{% url 'news_update' pk=post.id %}">Edit</a>
                    {% endif %}

                    {% if perms.news.delete_post %}
                        <a href="{% url 'news_delete' post.id %}">Delete</a>
                    {% endif %}
                </b></p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>No news available!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}

